version: 2.1

jobs:
  build:
    docker:
      - image: cimg/node:20.5
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Run tests (optional)
          command: npm test || echo "No tests defined"

  sonar_scan:
    docker:
      - image: sonarsource/sonar-scanner-cli:latest
    steps:
      - checkout
      - run:
          name: Run SonarCloud Scan
          command: |
            sonar-scanner \
              -Dsonar.projectKey=$SONAR_PROJECT_KEY \
              -Dsonar.organization=$SONAR_ORG \
              -Dsonar.sources=. \
              -Dsonar.host.url=https://sonarcloud.io \
              -Dsonar.login=$SONAR_TOKEN \
              -Dsonar.branch.name=main

workflows:
  version: 2
  build_and_scan:
    jobs:
      - build
      - sonar_scan:
          requires:
            - build
