version: 2.1

orbs:
  node: circleci/node@5.1.0

jobs:
  build:
    docker:
      - image: cimg/node:20.5
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Build React App
          command: npm run build
      - run:
          name: Run Tests
          command: npm test -- --watchAll=false
      - persist_to_workspace:
          root: .
          paths:
            - .

  sonar_scan:
    docker:
      - image: sonarsource/sonar-scanner-cli:latest
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Run SonarCloud Scan
          command: |
            sonar-scanner \
              -Dsonar.projectKey=$SONAR_PROJECT_KEY \
              -Dsonar.organization=$SONAR_ORG \
              -Dsonar.sources=src \
              -Dsonar.host.url=https://sonarcloud.io \
              -Dsonar.login=$SONAR_TOKEN

workflows:
  version: 2
  build_and_scan:
    jobs:
      - build
      - sonar_scan:
          requires:
            - build
